// helpers.styl

.mar-top
  margin-top 10px
.mar-rgt
  margin-right 10px
.mar-btm
  margin-bottom 10px
.mar-lft
  margin-left 10px
.mar-all
  margin 10px
.mar-top-lg
  margin-top 25px
.mar-rgt-lg
  margin-right 25px
.mar-btm-lg
  margin-bottom 25px
.mar-lft-lg
  margin-left 25px
.mar-all-lg
  margin 25px
.mar-top-sm
  margin-top 3px
.mar-rgt-sm
  margin-right 3px
.mar-btm-sm
  margin-bottom 3px
.mar-lft-sm
  margin-left 3px
.mar-all-sm
  margin 3px
.pad-top-lg
  padding-top     25px
.pad-rgt-lg
  adding-right    25px
.pad-btm-lg 
  padding-bottom  25px
.pad-lft-lg
  padding-left    25px
.pad-all-lg
  padding         25px 
.pad-top-sm
  padding-top     3px
.pad-rgt-sm
  adding-right    3px
.pad-btm -sm
  padding-bottom  3px
.pad-lft-sm
  padding-left    3px
.pad-all-sm
  padding         3px 
.pad-top
  padding-top     10px
.pad-rgt
  adding-right    10px
.pad-btm 
  padding-bottom  10px
.pad-lft
  padding-left    10px
.pad-all
  padding         10px 
.bord-top
  border-top 1px $gray solid
.bord-btm
  border-bottom 1px $gray solid;
.bord-rgt
  border-right 1px $gray solid;
.bord-lft
  border-left 1px $gray solid
.bord-all
  border 1px $gray solid

.flex
  display flex
.flex-column
  flex-direction column
.flex-center
  align-self center

.center
  text-align center
  margin auto
.align-left
  text-align left
.align-right
  text-align right


