/*
* app.styl
*/
.mar-top {
  margin-top: 10px;
}
.mar-rgt {
  margin-right: 10px;
}
.mar-btm {
  margin-bottom: 10px;
}
.mar-lft {
  margin-left: 10px;
}
.mar-all {
  margin: 10px;
}
.mar-top-lg {
  margin-top: 25px;
}
.mar-rgt-lg {
  margin-right: 25px;
}
.mar-btm-lg {
  margin-bottom: 25px;
}
.mar-lft-lg {
  margin-left: 25px;
}
.mar-all-lg {
  margin: 25px;
}
.mar-top-sm {
  margin-top: 3px;
}
.mar-rgt-sm {
  margin-right: 3px;
}
.mar-btm-sm {
  margin-bottom: 3px;
}
.mar-lft-sm {
  margin-left: 3px;
}
.mar-all-sm {
  margin: 3px;
}
.pad-top-lg {
  padding-top: 25px;
}
.pad-rgt-lg {
  adding-right: 25px;
}
.pad-btm-lg {
  padding-bottom: 25px;
}
.pad-lft-lg {
  padding-left: 25px;
}
.pad-all-lg {
  padding: 25px;
}
.pad-top-sm {
  padding-top: 3px;
}
.pad-rgt-sm {
  adding-right: 3px;
}
.pad-btm -sm {
  padding-bottom: 3px;
}
.pad-lft-sm {
  padding-left: 3px;
}
.pad-all-sm {
  padding: 3px;
}
.pad-top {
  padding-top: 10px;
}
.pad-rgt {
  adding-right: 10px;
}
.pad-btm {
  padding-bottom: 10px;
}
.pad-lft {
  padding-left: 10px;
}
.pad-all {
  padding: 10px;
}
.bord-top {
  border-top: 1px #555 solid;
}
.bord-btm {
  border-bottom: 1px #555 solid;
}
.bord-rgt {
  border-right: 1px #555 solid;
}
.bord-lft {
  border-left: 1px #555 solid;
}
.bord-all {
  border: 1px #555 solid;
}
.flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.flex-column {
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-center {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
}
.center {
  text-align: center;
  margin: auto;
}
.align-left {
  text-align: left;
}
.align-right {
  text-align: right;
}
.mtrl-hover-enter {
  transition: all 0.2s ease-in-out 0.4s;
  box-shadow: 2px 2px 8px #000;
  top: -2px;
  z-index: 1;
  left: -1px;
}
.mtrl-hover-leave {
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 0px 0px #000;
  top: 0;
  z-index: 0;
  left: 0;
}
.primary-menu-enter {
  transition: all 0.3s ease-out;
  left: 0px;
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  width: 170px;
}
.primary-menu-leave {
  transition: all 0.3s ease;
  left: -230px;
  -webkit-flex-basis: 0.0001em;
  -ms-flex-preferred-size: 0.0001em;
  flex-basis: 0.0001em;
  width: 0;
}
.center-menu-enter {
  transition: all 0.5s ease 0.5;
  margin: 0;
  padding: 0;
  width: 80%;
}
.center-menu-leave {
  transition: all 0.5s ease;
  margin: 0;
  padding: 0;
  width: 100%;
}
.aside-menu-enter {
  transition: all 0.3s ease-out;
  right: 0px;
  -webkit-flex-basis: 14em;
  -ms-flex-preferred-size: 14em;
  flex-basis: 14em;
  margin: 5px 0;
  padding: 0 5px 0 15px;
  width: 300px;
}
.aside-menu-leave {
  transition: all 0.3s ease-in;
  right: -250px;
  -webkit-flex-basis: 0.001em;
  -ms-flex-preferred-size: 0.001em;
  flex-basis: 0.001em;
  margin: 0;
  padding: 0;
  width: 0;
}
.menu-btn-hover-enter {
  transition: all 0.3s ease-in-out;
  box-shadow: 2px 4px 8px #000;
  background-color: #ff9800;
}
.menu-btn-hover-leave {
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 0px #000;
  background-color: #fff;
}
.bg-bright {
  background: #f0f;
}
.bg-dark {
  background: #200066;
}
.bg-gray-light {
  background: #777;
}
.bg-gray-lighter {
  background: #eee;
}
.bg-gray {
  background: #555;
}
.bg-gray-dark {
  background: #333;
}
.bg-off-white {
  background: #f5f5f5;
  color: #333;
}
.bg-off-white:Hover {
  top: -1;
  color: #333;
}
.bg-orange {
  background: #ff5722;
  color: #333;
}
.bg-orange:Hover {
  top: -1;
  color: #333;
}
.bg-purple {
  background: #7049ba;
  color: #f5f5f5;
}
.bg-purple:Hover {
  color: #f5f5f5;
}
.bg-blue {
  background: #00bcd4;
  color: #222;
}
.bg-blue:Hover {
  top: -1;
  color: #222;
}
a.bg-green {
  background: #7cb342;
  color: #7049ba;
}
a:hover.bg-green,
a:focus.bg-green {
  top: -1;
  color: #333;
}
.orange {
  color: $orange;
}
.orange:Hover {
  color: $orange;
}
.purple {
  color: $purple;
}
.purple:Hover {
  color: $purple;
}
.blue {
  color: $blue;
}
.blue:Hover {
  color: $blue;
}
.green {
  color: $green;
}
.green:Hover {
  color: $blue;
}
a {
  font-weight: bold;
}
.w-logos.type_carousel .owl-loaded .w-logos-item {
  opacity: 0.66;
  height: auto;
}
.w-logos.style_1 .w-logos-item {
  position: relative;
  top: 0;
  box-shadow: 0 1px 1px rgba(0,0,0,0);
  opacity: 0.66;
  transition: top 0.3s, background-color 0.3s, box-shadow 0.3s, opacity 0.3s;
}
.w-logos.style_1 .w-logos-item:Hover {
  top: -2px;
  opacity: 1;
  background-color: rgba(0,0,0,0.16);
  box-shadow: 0 1px 1px rgba(0,0,0,0.1), 0 1px 4px rgba(0,0,0,0.2);
}
.mtrl {
  position: relative;
}
.mtrl-fixed {
  position: fixed;
}
.mtrl-raised {
  box-shadow: 0 2px 1px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3);
}
.mtrl-btn {
  transition: background-color 0.3s, box-shadow 0.3s, color 0.3s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  text-transform: uppercase;
  vertical-align: middle;
  display: inline-block;
  white-space: nowrap;
  border-radius: 3px;
  padding: 11px 22px;
  text-align: center;
  position: relative;
  line-height: 20px;
  overflow: hidden;
  cursor: pointer;
  font-size: 15px;
  margin: 5px 0;
  border: none;
}
.mtrl-btn.mtrl-raised {
  top: 0;
  left: 0;
  right: 0;
}
.mtrl-btn.mtrl-raised:Hover {
  top: -1px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.1), 0 4px 8px rgba(0,0,0,0.3);
}
.mtrl-btn .mtrl-flat {
  color: #555;
  font-size: 18px;
  font-weight: 700;
  box-shadow: none;
  background-color: transparent;
}
.mtrl-btn .mtrl-flat:Hover {
  color: #333;
  background-color: rgba(255,255,255,0.22);
}
.mtrl-btn-icon {
  padding: 5px;
}
hr.style-one {
  border: 0;
  height: 3px;
  background: #ccc;
  background: -webkit-linear-gradient(left, rgba(67,224,65,0) 0%, #4ee1b9 34%, #52e2ea 48%, #4ee2c0 61%, rgba(67,224,65,0) 100%);
  background-image: -o-linear-gradient(left, rgba(67,224,65,0) 0%, #4ee1b9 34%, #52e2ea 48%, #4ee2c0 61%, rgba(67,224,65,0) 100%);
}
.mtrl-btn-dashboard {
  width: 120px;
  height: 105px;
  padding: 20px 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
.mtrl-btn-dashboard > i,
.mtrl-btn-dashboard .dashboard-text {
  margin: 0 auto;
}
#main-nav-menu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.fa-menu {
  font-size: 25px;
}
.header-section-300 {
  min-height: 300px;
  overflow: hidden;
}
.body-section-600 {
  height: 600px;
  overflow: hidden;
}
.body-section-600 > img {
  width: 100%;
}
.hero {
  width: 100%;
}
.hero .animated-words {
  width: 80%;
}
.test-card {
  padding: 20px;
  margin: 20px;
  border: 1px solid #333;
  width: auto;
}
.app-nav {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.menu-button {
  border: none;
  padding-left: 15px;
}
.main-menu {
  background-color: #fff;
  margin: 5px 5px 5px 0;
  box-shadow: 0 0 4px #333;
}
.menu-button {
  width: 100%;
}
.menu-button.active {
  color: #9400d3;
  font-size: 18px;
  font-weight: 900;
  box-shadow: none;
}
.menu-button:hover,
.menu-button:active {
  color: #ff9800;
}
.mei-header {
  height: 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
#footer {
  padding-top: 0px;
  padding-bottom: 30px;
  color: #fff;
  background: #2e2e2e;
}
#footer a {
  color: #fff;
}
#footer a:hover {
  color: #ff5722;
}
#footer ul {
  list-style: none;
  padding: 0;
  margin: 0 -7.5px;
}
#footer > li {
  display: inline-block;
  margin: 0 7.5px;
}
#footer label {
  font-weight: bold;
  text-decoration: underline;
}
#footer li {
  padding: 0 10px;
}
@media only screen and (min-width: 768px) {
  #footer .social-icons,
  #footer float right,
  #footer .form-control {
    box-shadow: none;
    -webkit-box-shadow: none;
  }
}
.app-header {
  box-shadow: 1px 1px 2px #000;
  position: fixed;
  top: 0;
  width: 100%;
  max-height: 60px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
body {
  background: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #200066;
  line-height: 26px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #272727;
}
a {
  color: #ff5722;
  transition: color 400ms, background-color 400ms;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #ff4105;
}
textarea {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  resize: none;
  overflow: hidden;
  width: 100%;
}
textarea:focus {
  outline: none;
}
hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}
.pad-lft {
  padding-left: 10px;
}
.pad-lft {
  padding-right: 10px;
}
.gradiant,
.media.service-box:hover .pull-left > i,
#Gallery .gallery-item .gallery-item-inner .gallery-info .preview,
.blue-hero,
#Pricing ul.pricing li.plan-header .price-duration,
#Pricing ul.pricing.featured li.plan-header {
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}
.gradiant-horizontal,
.progress .progress-bar.progress-bar-primary {
  background-image: -ms-linear-gradient(4deg, #2caab3 0%, #2c8cb3 100%);
}
.section-header {
  margin-bottom: 50px;
}
.section-header .section-title {
  font-size: 44px;
  color: #272727;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 20px;
  margin: 0 0 20px;
}
.section-header .section-title:before {
  content: "";
  position: absolute;
  width: 140px;
  bottom: 0;
  left: 50%;
  margin-left: -70px;
  height: 1px;
  background: #ebebeb;
}
.section-header .section-title:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -11px;
  left: 50%;
  margin-left: -12px;
  border: 5px solid #fff;
  border-radius: 20px;
  background: #ff5722;
}
.btn {
  border-width: 0;
  border-bottom-width: 3px;
  border-radius: 3px;
}
.btn.btn-primary {
  background: #ff5722;
  border-color: #ff4105;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
  background: #ff4105;
}
.column-title {
  margin-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;
  position: relative;
}
.column-title:after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 40%;
  border-bottom: 1px solid #ff5722;
}
ul.nostyle {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}
ul.nostyle i {
  color: #ff5722;
}
.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}
@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.navbar.navbar-default {
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
}
.navbar.navbar-default .navbar-toggle {
  margin-top: 32px;
}
.navbar.navbar-default .navbar-brand {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: auto;
  padding: 22px 15px 21px;
  font-weight: 400;
  font-size: 1.5em;
}
.navbar.navbar-default .navbar-brand > img {
  max-width: 50px;
  max-height: 50px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  margin-right: 5px;
}
.navbar.navbar-default .navbar-brand .logo-text {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.navbar.navbar-default .navbar-brand .amp {
  font-size: 0.8em;
  font-weight: 300;
}
.navbar.navbar-default .navbar-brand .logo-center {
  font-weight: 300;
  font-size: 1.3em;
  color: #01b0f0;
  margin-left: -4px;
}
@media only screen and (min-width: 768px) {
  #main-menu.navbar-default {
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.1);
  }
  #main-menu.navbar-default .navbar-nav > li > a {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  #main-menu.navbar-default .navbar-nav > li.active > a,
  #main-menu.navbar-default .navbar-nav > li.open > a,
  #main-menu.navbar-default .navbar-nav > li:hover > a {
    background: transparent;
    padding-top: 37px;
    border-top: 3px solid #ff5722;
  }
  #main-menu.navbar-default .dropdown-menu {
    padding: 0 20px;
    min-width: 220px;
    background-color: fade(#1a1c28, 90%);
    border: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-clip: inherit;
  }
  #main-menu.navbar-default .dropdown-menu > li {
    border-left: 3px solid transparent;
    margin-left: -20px;
    padding-left: 17px;
    -webit-transition: border-color 400ms;
    transition: border-color 400ms;
  }
  #main-menu.navbar-default .dropdown-menu > li > a {
    border-top: 1px solid #404455;
    padding: 15px 0;
    color: #eee;
  }
  #main-menu.navbar-default .dropdown-menu > li:first-child > a {
    border-top: 0;
  }
  #main-menu.navbar-default .dropdown-menu > li.active,
  #main-menu.navbar-default .dropdown-menu > li.open,
  #main-menu.navbar-default .dropdown-menu > li:hover {
    border-left-color: #ff5722;
  }
  #main-menu.navbar-default .dropdown-menu > li.active > a,
  #main-menu.navbar-default .dropdown-menu > li.open > a,
  #main-menu.navbar-default .dropdown-menu > li:hover > a {
    color: #ff5722;
    background-color: transparent;
  }
}
#Main-Slider {
  overflow: hidden;
}
#Main-Slider .carousel-holder {
  padding-top: 180px;
}
#Main-Slider .carousel-content {
  padding: 5px 15px 20px 15px;
  background: rgba(0,0,0,0.7);
}
#Main-Slider .item {
  height: 558px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
#Main-Slider .slider-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
}
#Main-Slider .slider-inner h2 {
  font-size: 38px;
  line-height: 1;
  text-transform: uppercase;
  color: #fff;
}
#Main-Slider .slider-inner h2 > span {
  color: #ff5722;
}
#Main-Slider .slider-inner .btn {
  margin-top: 10px;
}
#Main-Slider .owl-prev,
#Main-Slider .owl-next {
  position: absolute;
  top: 50%;
  background-color: rgba(0,0,0,0.2);
  color: #fff;
  font-size: 30px;
  display: inline-block;
  margin-top: -35px;
  height: 70px;
  width: 70px;
  line-height: 70px;
  text-align: center;
  border-radius: 100px;
  z-index: 5;
  transition: background-color 400ms;
}
#Main-Slider .owl-prev:hover,
#Main-Slider .owl-next:hover {
  background-color: #ff5722;
}
#Main-Slider .owl-prev {
  left: -35px;
  text-indent: 14px;
}
#Main-Slider .owl-next {
  right: -35px;
  text-indent: -14px;
}
#bar {
  width: 0%;
  max-width: 100%;
  height: 4px;
  background: #ff5722;
}
#progressBar {
  margin-top: -4px;
  position: relative;
  z-index: 999;
  width: 100%;
  background: rgba(0,0,0,0.1);
}
#CTA {
  padding: 50px 0;
  background-color: #eee;
}
#CTA h2 {
  margin-top: 0;
}
#CTA .btn {
  margin-top: 40px;
}
#CTA-2 {
  background: #242a33 no-repeat 50% 50%;
  background-image: url("../images/cta2/cta2-bg.jpg");
  background-size: cover;
  color: #fff;
  padding-top: 70px;
}
#CTA-2 .btn {
  margin-top: 10px;
}
#CTA-2 h2 {
  color: #fff;
  font-size: 44px;
  line-height: 1;
}
#CTA-2 h2 > span {
  color: #ff5722;
}
#CTA-3 {
  padding: 50px 0;
  background-color: #eee;
}
#CTA-3 h2 {
  margin-top: 0;
}
#CTA-3 .btn {
  margin-top: 40px;
}
#features {
  padding: 100px 0;
}
#features .media.service-box:first-child {
  margin-top: 80px;
}
#services {
  padding: 100px 0 75px;
}
.media.service-box {
  margin: 25px 0;
}
.media.service-box .pull-left {
  margin-right: 20px;
}
.media.service-box .pull-left > i {
  font-size: 24px;
  height: 64px;
  line-height: 64px;
  text-align: center;
  width: 64px;
  border-radius: 100%;
  color: #ff5722;
  box-shadow: inset 0 0 0 1px #d7d7d7;
  -webkit-box-shadow: inset 0 0 0 1px #d7d7d7;
  transition: background-color 400ms, background-color 400ms;
  position: relative;
}
.media.service-box .pull-left > i:after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  margin-top: -10px;
  right: -10px;
  border: 4px solid #fff;
  border-radius: 20px;
  background: #ff5722;
}
.media.service-box:hover .pull-left > i {
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  color: #fff;
  box-shadow: inset 0 0 0 5px rgba(255,255,255,0.8);
  -webkit-box-shadow: inset 0 0 0 5px rgba(255,255,255,0.8);
}
#Gallery {
  padding: 100px 0;
  background: #f5f5f5;
}
#Gallery .gallery-filter {
  list-style: none;
  padding: 0;
  margin: 0 0 50px;
  display: inline-block;
}
#Gallery .gallery-filter > li {
  float: left;
  display: block;
}
#Gallery .gallery-filter > li a {
  display: block;
  padding: 7px 15px;
  background: #e5e5e5;
  color: #200066;
  position: relative;
}
#Gallery .gallery-filter > li a:hover,
#Gallery .gallery-filter > li a.active {
  background: #ff5722;
  color: #fff;
  box-shadow: 0 -3px 0 0 #318daf inset;
  -webkit-box-shadow: 0 -3px 0 0 #318daf inset;
}
#Gallery .gallery-filter > li a.active:after {
  content: " ";
  position: absolute;
  bottom: -17px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: #318daf transparent transparent transparent;
}
#Gallery .gallery-filter > li:first-child a {
  border-radius: 4px 0 0 4px;
}
#Gallery .gallery-filter > li:last-child a {
  border-radius: 0 4px 4px 0;
}
#Gallery .gallery-items {
  margin: -15px;
}
#Gallery .gallery-item {
  width: 24.9%;
  float: left;
  padding: 15px;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
#Gallery .gallery-item .gallery-item-inner {
  position: relative;
}
#Gallery .gallery-item .gallery-item-inner .gallery-info {
  opacity: 0;
  transition: opacity 400ms;
  -webkit-transition: opacity 400ms;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  background: rgba(0,0,0,0.5);
  color: #fff;
}
#Gallery .gallery-item .gallery-item-inner .gallery-info h3 {
  font-size: 16px;
  line-height: 1;
  margin: 0;
  color: #fff;
}
#Gallery .gallery-item .gallery-item-inner .gallery-info .preview {
  position: absolute;
  top: -18px;
  right: 12px;
  border-radius: 50%;
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: #fff;
  box-shadow: 0 0 0 2px #fff;
  -webkit-box-shadow: 0 0 0 2px #fff;
}
#Gallery .gallery-item:hover .gallery-info {
  opacity: 1;
}
#Faq {
  margin-top: 30px;
}
.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  transition-duration: 0.8s;
}
.isotope {
  transition-property: height, width;
}
.isotope .isotope-item {
  transition-property: -webkit-transform, opacity;
  transition-property: transform, opacity;
}
.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  transition-duration: 0s;
}
.isotope.infinite-scrolling {
  transition: none;
}
#Testimonial {
  background: #333 no-repeat 0 0;
  background-image: url("../images/testimonial/bg.jpg");
  background-size: cover;
  padding: 100px 0;
  color: #fff;
}
#Testimonial h4 {
  color: #fff;
  margin-bottom: 0;
}
#Testimonial small {
  display: block;
  margin-bottom: 10px;
  color: rgba(255,255,255,0.7);
}
#Testimonial .btns {
  margin-top: 10px;
}
#About {
  padding: 100px 0;
}
#Work-Process {
  padding: 100px 0 50px;
  background: #20222e no-repeat 0 0;
  background-image: url("../images/work-process/bg.jpg");
  background-size: cover;
  color: #fff;
}
#Work-Process h2 {
  color: #fff;
}
#Work-Process h3 {
  color: #fff;
  margin-bottom: 0;
}
#Work-Process .icon-circle {
  display: inline-block;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border: 2px solid #ff5722;
  border-radius: 100px;
  position: relative;
}
#Work-Process .icon-circle > span {
  border-style: solid;
  border-width: 2px;
  border-color: #ff5722;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  width: 24px;
  height: 24px;
  line-height: 20px;
  top: -12px;
  color: #200066;
}
#Work-Process h3 {
  margin-bottom: 50px;
}
#events-header {
  padding: 100px 0 50px;
  margin: 0 0 50px 0;
}
#events-header h1,
#events-header h2 {
  color: #fff;
}
#Event-Details,
#Event-Boxes {
  padding: 0;
  margin-top: 50px;
}
.team-member {
  padding: 15px;
  margin: 10px 0;
  background: #eee;
  border: 2px solid #eee;
  transition: border-color 400ms;
  -webkit-transition: border-color 400ms;
}
.team-member > center > h1 {
  font-size: 30px;
  height: 2em;
}
.team-member > center > h2 {
  font-size: 26px;
}
.team-member .team-img {
  margin: -15px -15px 0 -15px;
  height: 225px;
}
.team-member .team-info {
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 10px;
}
.team-member:hover {
  border-color: #ff5722;
}
.team-member .event-address {
  height: 100px;
}
.event-details .team-img {
  margin: -15px -15px 0 -15px;
  height: 400px;
}
.dates {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 10px;
}
.social-icons {
  clear: both;
  margin-bottom: 5px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.social-icons .fa-stack > span {
  margin-top: 18px;
  font-size: 0.5em;
  width: 2.5em;
  color: #333;
  font-weight: 900;
}
.social-icons .fa-stack:hover {
  color: #ff5722;
}
.social-icons .fa-stack:hover .fa-stack-1x {
  color: #ff5722;
}
.social-icons .fa-stack-1x {
  font-size: 1.8em;
  margin-top: 5px;
  margin-left: 3px;
  color: #333;
}
.social-icons > li {
  display: inline-block;
}
.social-icons > li > div {
  margin-bottom: 10px;
}
.social-icons > li > a {
  display: block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  background: #222534;
  border-radius: 3px;
}
.divider {
  margin-top: 50px;
  margin-bottom: 50px;
  background-image: -ms-linear-gradient(180deg, #fff 0%, #e3e3e3 49%, #fff 100%);
  width: 95%;
  height: 1px;
  clear: both;
}
.progress {
  box-shadow: none;
  background: #eee;
}
.progress .progress-bar.progress-bar-primary {
  box-shadow: none;
}
.nav.main-tab {
  background: #eee;
  border-bottom: 3px solid #222534;
  border-radius: 3px 3px 0 0;
}
.nav.main-tab > li > a {
  color: #272727;
}
.nav.main-tab > li.active > a {
  background: #222534;
  color: #ff5722;
  padding: auto;
}
.nav.main-tab > li:first-child > a {
  border-radius: 3px 0 0 0;
}
.nav.main-tab > li:last-child > a {
  border-radius: 0 3px 0 0;
}
.tab-content {
  border: 1px solid #eee;
  border-top: 0;
  padding: 20px 20px 10px;
  border-radius: 0 0 3px 3px;
}
.tab-content .tab-pane > img {
  max-height: 200px;
  max-width: 100%;
  min-height: 100px;
}
.panel-default {
  border-color: #eee;
}
.panel-default > .panel-heading {
  background-color: #fff;
  border-color: #eee;
}
.panel-default > .panel-heading .panel-title {
  font-size: 14px;
  font-weight: normal;
}
.panel-default > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #eee;
}
.blue-hero {
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  color: #fff;
}
#Animated-Number {
  padding: 100px 0 70px;
  background: #132125 no-repeat 0 0;
  background-image: url("../images/animated-number/bg.jpg");
  background-size: cover;
  color: #fff;
}
#Animated-Number h1,
#Animated-Number h2,
#Animated-Number h3,
#Animated-Number h4 {
  color: #fff;
}
#Animated-Number strong {
  display: block;
  margin-bottom: 30px;
}
.animated-number {
  display: inline-block;
  width: 140px;
  height: 140px;
  font-size: 24px;
  line-height: 140px;
  border: 3px solid #fff;
  border-radius: 100px;
  margin-bottom: 20px;
}
#Pricing {
  padding: 0 0 70px;
}
#Pricing ul.pricing {
  list-style: none;
  padding: 0;
  margin: 70px 0 30px;
  border: 1px solid #eee;
  border-radius: 5px 5px 4px 4px;
  padding: 15px;
  text-align: center;
}
#Pricing ul.pricing li {
  display: block;
  padding: 10px;
}
#Pricing ul.pricing li.plan-header {
  background: #eee;
  border-radius: 4px 4px 0 0;
  margin: -15px -15px 10px;
  padding: 15px 15px 30px;
  border: 0;
}
#Pricing ul.pricing li.plan-header .price-duration {
  position: relative;
  margin-top: -63px;
  top: -10px;
  display: inline-block;
  width: 116px;
  height: 116px;
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  color: #fff;
  border-radius: 100px;
  border: 5px solid #f6f6f6;
}
#Pricing ul.pricing li.plan-header .price-duration > span {
  display: block;
  line-height: 1;
}
#Pricing ul.pricing li.plan-header .price-duration > span.price {
  font-size: 24px;
  font-weight: 700;
  margin-top: 35px;
}
#Pricing ul.pricing li.plan-header .price-duration > span.duration {
  margin-top: 5px;
}
#Pricing ul.pricing li.plan-header .plan-name {
  margin-top: 10px;
  font-size: 24px;
  color: #272727;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
}
#Pricing ul.pricing.featured {
  background: #222534;
  color: #fff;
  border: 0;
}
#Pricing ul.pricing.featured li.plan-header {
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}
#Pricing ul.pricing.featured li.plan-header .plan-name {
  color: #fff;
}
#Get-In-Touch {
  padding: 100px 0 50px;
}
#Get-In-Touch h1,
#Get-In-Touch h2 {
  color: #fff;
}
#News {
  padding: 100px 0;
}
#News .news-post {
  border: 1px solid #eee;
  padding: 15px;
}
#News .news-post .post-format {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  background: #222534;
  border: 3px solid #fff;
  border-radius: 100px;
}
#News .news-post.news-large .entry-thumbnail {
  margin: -15px -15px 15px;
  position: relative;
}
#News .news-post.news-large .post-format {
  width: 66px;
  height: 66px;
  line-height: 60px;
  position: absolute;
  right: 20px;
  bottom: -33px;
}
#News .news-post.news-large .post-format > i {
  font-size: 20px;
}
#News .news-post.news-large .entry-date {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #ff5722;
}
#News .news-post.news-large .entry-title {
  margin-top: 0;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 15px;
}
#News .news-post.news-large .entry-title a {
  color: #200066;
}
#News .news-post.news-large .entry-title a:hover {
  color: #ff5722;
}
#News .news-post.news-media {
  margin-bottom: 30px;
}
#News .news-post.news-media .entry-thumbnail {
  margin: -15px 15px -15px -15px;
  position: relative;
}
#News .news-post.news-media .post-format {
  position: absolute;
  top: 20px;
  right: -10px;
}
#News .news-post.news-media .entry-date {
  font-size: 12px;
  display: block;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #ff5722;
}
#News .news-post.news-media .entry-title {
  margin-top: 0;
  font-size: 18px;
  line-height: 1;
  margin-bottom: 15px;
}
#News .news-post.news-media .entry-title a {
  color: #200066;
}
#News .news-post.news-media .entry-title a:hover {
  color: #ff5722;
}
#News .news-post .entry-meta {
  margin-top: 20px;
  border-top: 1px solid #eee;
  padding-top: 15px;
}
#News .news-post .entry-meta > span {
  display: inline-block;
  margin-right: 10px;
  color: #999;
}
#News .news-post .entry-meta > span > a {
  color: #999;
}
#News .news-post .entry-meta > span > a:hover {
  color: #ff5722;
}
#Contact {
  position: relative;
  overflow: hidden;
}
#Contact .container-wrapper {
  width: 100%;
  background: fade(#ff5722, 30%);
  z-index: 1;
}
#Contact #main-contact-form {
  background: rgba(255,255,255,0.8);
  padding: 20px;
  margin-top: 50px;
}
#Contact #main-contact-form h3 {
  margin-top: 0;
}
@-webkit-keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/*# sourceMappingURL=tickets.css.map */
