//.card

.footer-card
  // width 100%
  lost-column 1/4 flex
  flex-direction row

.flex-bottom
	self-align flex-end

.flex-top
	justify-content flex-start

.waffle-card 
  lost-waffle 1/6 no-flex

.card-file
  background-color $brand-info
  padding 20px