
// IMPORTANT :
// Don't edit any code here, leave it like this.

// You can only edit the default color theme.
// You may change the variable value inside the Variables.LESS file and re-compiling using this file.

// If you make changes directly in the CSS and/ or LESS-files from Nifty,
// it will be hard to update if I release an update. So I would recommend to create a new CSS/ LESS-file for this purpose.



@import "variables.styl";

// Set as default color theme.
@import "themes/type-c/theme-navy.less";


@import "nifty/layout.styl";
@import "nifty/navbar.styl";
@import "nifty/mainnav.styl";
@import "nifty/aside.styl";
@import "nifty/footer.styl";
@import "nifty/helper-classes.styl";
@import "nifty/animation.styl";
@import "nifty/extras.styl";
@import "nifty/bs-overwrite.styl";

