lesscss-percentage(n)
  (n * 100)%
font-family-base = 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
font-size-base = 11px
font-semibold = 600
body-bg = rgb(235, 238, 240, 1)
body-color = rgb(95, 95, 95, 1)
link-color = body-color
link-hover-color = darken(body-color, 5%)
border-color-base = rgb(233, 233, 233, 1)
border-radius-base = 0
selection-color = rgba(46, 165, 204, 0.41)
grid-gutter-width = 24px
cls-bg = rgb(33, 33, 36, 1)
cls-color = rgb(255, 255, 255, 1)
navbar-bg = rgb(255, 255, 255, 1)
navbar-color = body-color
brand-bg = transparent
brand-bg-overlay = mainnav-bg
brand-color = state-active-color
brand-color-overlay = navbar-color
brand-font-size = 18px
navbar-height = 40px
mainnav-bg = rgb(45, 60, 75, 1)
mainnav-color = screen(mainnav-bg, rgb(153, 153, 153, 1))
mainnav-hover-color = rgb(255, 255, 255, 1)
mainnav-active-bg = transparent
mainnav-active-color = rgb(255, 255, 255, 1)
mainnav-active-state = darken(state-active-bg, 15%)
mainnav-lg-width = 220px
mainnav-sm-width = 50px
mainnav-collapse = true
mainnav-slide = true
mainnav-reveal = true
aside-width = mainnav-lg-width
aside-dark-bg = lighten(mainnav-bg, 5%)
aside-dark-color = rgb(255, 255, 255, 1)
aside-bright-bg = rgb(255, 255, 255, 1)
aside-bright-color = rgb(81, 81, 81, 1)
aside-tabs = true
footer-bg = multiply(body-bg, rgb(221, 221, 221, 1))
footer-color = body-color
enable-animation = true
enable-easeInQuart = true
enable-easeOutQuart = true
enable-easeInBack = true
enable-easeOutBack = true
enable-easeInOutBack = true
enable-steps = true
enable-jumping = true
enable-rubber = true
ease-duration = 0.35s
easeInQuart = 0.35s
easeOutQuart = 0.4s
easeInBack = 0.35s
easeOutBack = 0.35s
easeInOutBack = 0.5s
steps = 0.5s
jumping = 0.7s
rubber = 0.5s
state-active-bg = rgb(84, 171, 217, 1)
state-active-color = rgb(255, 255, 255, 1)
enable-mint = true
enable-purple = true
enable-pink = true
enable-dark = true
light-bg = rgb(255, 255, 255, 1)
gray-bg = rgb(227, 232, 238, 1)
primary-bg = rgb(95, 162, 221, 1)
info-bg = rgb(70, 187, 220, 1)
success-bg = rgb(145, 201, 87, 1)
warning-bg = rgb(241, 170, 64, 1)
danger-bg = rgb(247, 101, 73, 1)
mint-bg = rgb(66, 204, 165, 1)
purple-bg = rgb(159, 85, 148, 1)
pink-bg = rgb(225, 124, 167, 1)
dark-bg = rgb(51, 55, 58, 1)
text-muted = lighten(body-color, 30%)
light-color = rgb(81, 81, 81, 1)
gray-color = rgb(81, 81, 81, 1)
primary-color = rgb(255, 255, 255, 1)
info-color = rgb(255, 255, 255, 1)
success-color = rgb(255, 255, 255, 1)
warning-color = rgb(255, 255, 255, 1)
danger-color = rgb(255, 255, 255, 1)
mint-color = rgb(255, 255, 255, 1)
purple-color = rgb(255, 255, 255, 1)
pink-color = rgb(255, 255, 255, 1)
dark-color = rgb(255, 255, 255, 1)
table = true
form-control = true
nav-pills = true
list-group = true
label = true
badge = true
breadcrumb = true
alert = true
modal = true
tooltip = true
popover = true
dropdown = true
well = true
progressbar = true
pager = true
pagination = true
carousel = true
accordion = true
tabs = true
bg = true
txt = true
buttons = true
include-btn-hover = true
include-btn-active = true
include-btn-labeled = true
include-btn-circle = true
include-btn-icon = true
include-btn-rounded = true
tooltip-bg = rgb(28, 30, 33, 1)
state-success = darken(success-bg, 20%)
state-warning = darken(warning-bg, 20%)
state-danger = darken(danger-bg, 20%)
panels = true
panel-heading-height = 50px
panel-w-tabs = true
panel-w-progressbar = true
panel-w-pagination = true
panel-w-pager = true
panel-w-btn = true
megamenu = true
timeline = true
timeline-bg = body-bg
timeline-color = body-color
timeline-border-color = darken(gray-bg, 20%)
email = true
email-list-odd = rgba(0, 66, 78, 0.05)
email-list-hover = rgba(0, 66, 78, 0.065)
email-highlight = rgb(242, 240, 194, 1)
email-stared-color = rgb(255, 161, 0, 1)
email-stared-hover = lighten(email-stared-color, 15%)
email-unstared-color = text-muted
form-wizard = true
include-form-wizard-classic = true
include-form-wizard-steps = true
nifty-scrollTop = true
nifty-language-selector = true
nifty-overlay = true
nifty-noty = true
nifty-check = true
nifty-check-bg = transparent
nifty-check-color = rgb(81, 81, 81, 1)
nifty-check-border = rgb(95, 95, 95, 1)
nifty-check-border-radius = border-radius-base
full-calendar = true
transform(transform)
  -webkit-transform transform
  -ms-transform transform
  transform transform
transition(transition)
  -webkit-transition transition
  transition transition 
selection(@color)
  selection background-color @color
  -moz-selection background-color @color


