@import "../plugins/animate-css/animate.min.css";
@import "../css/plugins/bootstrap-datepicker/bootstrap-datepicker.css";
@import "../css/plugins/bootstrap-select/bootstrap-select.css";
@import "../css/plugins/bootstrap-table/bootstrap-table.css";
@import "../css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css";
@import "../css/plugins/bootstrap-timepicker/bootstrap-timepicker.css";
@import "../css/plugins/bootstrap-validator/bootstrapValidator.css";
@import "../css/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css";
@import "../css/plugins/chosen/chosen.css";
@import "../css/plugins/dropzone/dropzone.css";
@import "../css/plugins/font-awesome/css/font-awesome.css";
@import "../css/plugins/fooTable/css/footable.core.css";
@import "../css/plugins/fullcalendar/fullcalendar.css";
@import "../css/plugins/morris-js/morris.css";
@import "../css/plugins/noUISlider/jquery.nouislider.css";
@import "../css/plugins/summernote/summernote.css";
@import "../css/plugins/sweetalert/dist/sweetalert.css";
@import "../css/plugins/switchery/switchery.css";
@import "../css/plugins/x-editable/css/bootstrap-editable.css";