/*
* app.styl
*/
@import "./variables"
@import "./includes/mixins"
 
// vendor parts
@import "./bootstrap/index"
@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"

// general build 
@import "./includes/helpers"
@import "./includes/transitions"
@import "./includes/holygrail"
@import "./includes/material"
@import "./includes/vue"

// main sections
@import "./includes/navs/material-1-nav"
@import "./includes/footers/material-1-footer"
@import "./includes/headers/material-1-header"

// Front End
@import "./frontEnd/material-1-front"

// components
@import "./components/card"

@lost flexbox flex;




#Components
	width 100%
	min-height 450px
	padding 10px





.container
  display flex
  min-height 800px 

body
  //gradient-animation( rgb(44, 170, 179), rgb(44, 140, 179), 2.5s)


.brand-header
	display inline-flex
	flex-direction column
  
	
	//turn this on if you want to 
	//see the layout
.app 
  //lost-utility edit

