/*
* app.styl
*/
@import "./variables"
@import "./includes/mixins"
 
// vendor parts
@import "../../../node_modules/bootstrap-styl/bootstrap/index"
@import "https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"

// general build 
@import "./includes/helpers"
@import "./includes/transitions"
@import "./includes/holygrail"
@import "./includes/material"
@import "./includes/vue"

// main sections
//@import "./includes/nav"
@import "./includes/navs/material-2-nav"
@import "./includes/footers/material-2-footer"
@import "./includes/headers/material-2-header"
 

// Front End
@import "./frontEnd/material-2-front"
 

// components
@import "./components/card"

@lost flexbox flex;

.container {
  min-height: 0;
}








